{
    "recipes": [
        {
            "name": "自选菜",
            "category": "二食堂",
            "posibility": 1
        },
        {
            "name": "烤鸭饭",
            "category": "外卖",
            "posibility": 1
        }
    ]
}
